*{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 1024px){
  *{
    font-size: 14px;
  }
}